
     <media class="html">
      
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xLink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy start & managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores commodi maxime explicabo ab et ipsam necessitatibus optio facere nemo dolor sapiente architecto voluptates, beatae fuga aperiam quisquam harum incidunt obcaecati!
          </p>
        </div>
      </div>
  </media>