      
      
    <blockquote class="quote">
      <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Expedita explicabo rerum, velit, magnam corporis voluptates labore qui aliquid omnis enim vel!
         Culpa fugiat labore qui autem incidunt et omnis dolore.</p>
         <footer>
           
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary qoute--line">
            <use xLink:href="images/sprite.svg#line"></use>
          </svg>
        </div>

        <div class="media__body">
          <h3 class="media__title qute__author">John Smith</h3>
          <p class="qute__organization">ABC Company </p>
        </div>
      </div>
  
         </footer>
    </blockquote>